input {
  display: block;
}

#upload-cv {
  width: 350px;
  height: 300px;
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -150px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

#upload-title {
  font-size: 2rem;
  font-weight: 700;
}

#motivation {
  display: block;
  margin: 0 auto;
}

#submit-button {
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #fd297b, #ff5864);
  width: 150px;
  height: 30px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}

#form {
  margin-top: 30px;
}

#credentials {
  margin-top: 20px;
}

#text-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#company-check {
  display: initial;
}

/* HEADER */
#header {
  position: fixed;
  height: 80px;
  top: 0px;
  left: 0px;
  width: 100vw;
  background: white;
  z-index: 10;
  box-shadow: var(--shadow);
}

#logo {
  width: 200px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -20px;
  display: block;
}

/* Formdone */
#formDone {
  margin-top: 400px;
  text-align: center;
}

/* COOKIES */
#cookies {
  display: none;
  position: absolute;
  box-shadow: var(--shadow);
  bottom: 0px;
  box-sizing: border-box;
  padding: 10px;
  width: 100vw;
  left: 0px;
  font-size: 1rem;
}

#delete {
  position: absolute;
  color: red;
  right: 5px;
  top: 5px;
}

#buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
}

.button {
  font-weight: 600;
  color: gray;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid gray;
}

@media screen and (max-width: 700px) {
  #cookies {
    display: none;
  }
}
